.fixed{
    background-color: #f5f5f4;
    text-align: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    top: -19px;
    left:0px;
    font-size: 14pt;
}

#title{
    color: #ffffff;
    background-color: #1f456e;
    background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #1d8296 100%);
    font-size: 48pt;
    text-align: center;
    padding: 280px;
    margin-bottom: 4%;
    transition: 0.5s;  
    
}
#title {
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
       
       
    1px 18px 6px rgba(16, 16, 16, 0.4),
    1px 22px 10px rgba(16, 16, 16, 0.2),
    1px 25px 35px rgba(16, 16, 16, 0.2),
    1px 30px 60px rgba(16, 16, 16, 0.4);

}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

p{
    text-align: center;
    font-size: 12pt;
    font-family: arial;
}

.welcome{
    background-color: #ebc452;
    color: #153250;
    padding: 20px;
    font-size: 16pt;
    font-style: italic;
    margin-top: -200px;
    width: 97.1%;
    font-family: serif;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 50%)
}
h2 {
    font-family: arial;
    font-size: 24pt;
    text-align: center;
 
}
.review{
    color: black;
    -webkit-text-stroke: rgba(0, 0, 0, 0.966);
    font-size: 30pt;
}
a{
    background-color: #ffffff;
    border-radius: 25px;
    color: rgb(0, 0, 0);
    border: 0.8px solid #000000;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 50%);
    padding: 20px;
    width: 120%;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
}
blockquote{
    background-color: #f5f5f4;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 50%);
    color: rgba(0, 0, 0, 0.966);
    border: 2px;
    border-color: black;
    padding: 50px;
    width: 120px;
    margin: auto;
    -webkit-box-align: center;
    font-family: 'Courier New', Courier, monospace;
}

h3{
    text-align: center;
    font-family: arial;
    font-size: 32pt;

}
.bye {
    color:#deb841;
    font-size: 8pt;
}
.gallery{
    font-size: 32pt;
}
address{
    text-align: center;
    font-style: italic;
}

.dropbtn{
    background-color: #090979;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980b9;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a{
    color: back;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
 .dropdown-content a:hover {
    background-color: #ddd;

 }

 .dropdown:hover .dropdown-content{
    display: block;
 }

 .dropdown:hover .dropbtn{
    background-color: #deb841;
 }
